:root {
  --nat-navbar-text-color: white;
  --nat-navbar-bg: #230021;
  --nat-navbar-bg-rgb: rgb(236,236,236);
}
html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  background: fixed center url('/images/skybg.jpg');
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
footer, footer a {
  color: var(--nat-navbar-text-color);
}
a.navbar-brand, #login-dropdown, .nav.link{
  color: var(--nat-navbar-text-color);
}